<% provide(:title, "ホーム") %>

<h1>All items</h1>

  <% @items.each do |item| %>
    <ul class="items">
      <li>
        <%= gravatar_for item, size: 200 %>
        <%= link_to item.name, item %>
      </li>
    </ul>
  <% end %>
<div>
  <%= will_paginate %>
</div>
