<% provide(:title, "ホーム") %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to @item.name, tag_path(tag) %>
        <%= gravatar_for @item %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to @item.name, tag_path(tag) %>
        <%= gravatar_for @item %>
      </h1>
    </section>
  </aside>
</div>
