/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* ページ全体設定 */
 *{
   list-style: none;
   text-decoration: none;
   background-size: cover;
   background-position: center;
   color: #333;
 }

 body,ul,h2,p{
   margin: 0px;
   padding: 0px;
 }

 li,a,img,ul{
   display: inline-block;
 }

 /* ここから最上部バー */
 .header-container{
   height: 80px;
   border-top: 5px solid green;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
 }

 .header-wrapper{
   width: 1020px;
   margin: 0 auto;
 }

 /* 最上部のロゴ */
 .site-name{
   float: left;
   width: 400px;
   height: 40px;
 }

 /* 最上部の会員登録・ログイン */
 .header-menu{
   float: right;
   width: 500px;
 }

 .header-button{
   float: left;
   width: 96px;
   height: 78px;
   padding: 10px;
   border: 1px solid #eee;
 }

 .header-button > a {
   width: 75px;
   height: 30px;
   padding: 21px 0;
   color: #333;
   font-size: 12px;
   font-weight: bold;
   text-align: center;
 }

 .header-button__link:hover{
   background-color: #eee;
   border-radius: 1px;
 }
 /* ここまでが最上部バー */


 /* ここからページメイン箇所 */
 .main-container{
   width: 1020px;
   height: 1300px;
   margin: 0 auto;
 }

 /* 商品詳細ページ */
 aside {
   section.user_info {
     margin-top: 20px;
   }
   section {
     padding: 10px 0;
     margin-top: 20px;
     &:first-child {
       border: 0;
       padding-top: 0;
     }
     span {
       display: block;
       margin-bottom: 3px;
       line-height: 1;
     }
     h1 {
       font-size: 1.4em;
       text-align: left;
       letter-spacing: -1px;
       margin-bottom: 3px;
       margin-top: 0px;
     }
   }
 }

 .gravatar {
   float: left;
   margin-right: 10px;
 }

 .gravatar_edit {
   margin-top: 15px;
 }
 /* ここまで商品詳細ページ */

 /* ここから商品一覧ページ */

  .list_items, .paging {
    text-align: center;
  }

  .heading{
    width: 1000px;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .list_item{
    width: 200px;
    height: 300PX;
    margin: 10px 30px 10px 0;
  }

  .list_item__image, img{
    width: 200px;
    height: 200px;
  }

  .list_item__name{
    width: 200px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
  }

  .list_item__per_cost,.list_item__stock_number{
    width: 200px;
    height: 20px;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }

 /* ここまで商品一覧ページ */

 /* 新規登録ページ */
 input, textarea, select, .uneditable-input {
   border: 1px solid #bbb;
   width: 100%;
   margin-bottom: 15px;

   input {
     height: auto !important;
   }

 }
 /* ここまで新規登録ページ */

 /* ログインページ */
 input, textarea, select, .uneditable-input {
   border: 1px solid #bbb;
   width: 100%;
   margin-bottom: 15px;
 }

 input {
   height: auto !important;
 }

 /* エラーメッセージ */
 #error_explanation {
   color: red;
   ul {
     color: red;
     margin: 0 0 30px 0;
   }
 }

 .field_with_errors {
   @extend .has-error;
   .form-control {
     color: $state-danger-text;
   }
 }
 /* ここまでエラーメッセージ */
 /* ここまでログインページ */

 /* デバッグのレイアウト */
 $gray-medium-light: #eaeaea;

 @mixin box_sizing {
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
   box-sizing:         border-box;
 }

 .debug_dump {
   clear: both;
   float: left;
   width: 100%;
   margin-top: 45px;
   @include box_sizing;
 }
 /* ここまでデバッグのレイアウト */
/* ここまでページメイン箇所 */


 /* ここからフッター */
 /* フッターのリンクメニュー */
 .footer-container{
   width: cover;
   height: 200px;
   padding: 20px;
   background-color: #243B0B;
   border-top: 5px solid green;
 }

 .footer-wrapper{
   width: 1020px;
   margin: 0 auto;
   font-size: 12px;
 }

 .footer-tag{
   width: 300px;
   float: left;
   margin-right: 30px;
 }

 .footer-tag__title{
   line-height: 18px;
   margin: 0 0 10px 0;
   color: #fff;
   font-weight: bold;
 }

 .footer-tag__list{
   height: 104px;
   margin: 0 0 20px 0;
 }

 .footer-tag__item{
   line-height: 18px;
   margin-top: 8px;
   float: left;
   width: 150px;
 }

 .footer-tag__itemlink{
   color: #fff;
 }
