<footer class="footer-container">
  <!-- フッターのリンクメニュー -->
  <div class="footer-wrapper">

    <div class="footer-tag">
      <p class="footer-tag__title">知育玩具を探す</p>
      <ul class="footer-tag__list">
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/1/relative_items">すうじ</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/5/relative_items">ひらがな</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/2/relative_items">図形</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/6/relative_items">カタカナ</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/3/relative_items">算数</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/7/relative_items">漢字</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/4/relative_items">地図・国旗</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/8/relative_items">英語</a></li>
      </ul>
    </div>

    <div class="footer-tag">
      <p class="footer-tag__title">ツールを探す</p>
      <ul class="footer-tag__list">
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/9/relative_items">サポート機器</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/10/relative_items">親向け</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/11/relative_items">しつけ・教育</a></li>
      </ul>
    </div>

    <div class="footer-tag">
      <p class="footer-tag__title">年齢別に探す</p>
      <ul class="footer-tag__list">
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/12/relative_items">6ヵ月から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/13/relative_items">1歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/14/relative_items">2歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/15/relative_items">3歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/16/relative_items">6歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/17/relative_items">9歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/18/relative_items">12歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="/tags/19/relative_items">15歳以上</a></li>
      </ul>
    </div>

  </div>
</footer>
