<footer class="footer-container">
  <!-- フッターのリンクメニュー -->
  <div class="footer-wrapper">

    <div class="footer-tag">
      <p class="footer-tag__title">知育玩具を探す</p>
      <ul class="footer-tag__list">
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">すうじ</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">ひらがな</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">図形</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">カタカナ</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">算数</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">漢字</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">地図・国旗</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">英語</a></li>
      </ul>
    </div>

    <div class="footer-tag">
      <p class="footer-tag__title">ツールを探す</p>
      <ul class="footer-tag__list">
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">サポート機器</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">親向け</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">しつけ・教育</a></li>
      </ul>
    </div>

    <div class="footer-tag">
      <p class="footer-tag__title">年齢別に探す</p>
      <ul class="footer-tag__list">
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">6ヵ月から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">1歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">2歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">3歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">6歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">9歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">12歳から</a></li>
        <li class="footer-tag__item"><a class="footer-tag__itemlink" href="#">15歳以上</a></li>
      </ul>
    </div>

  </div>
</footer>
